@model System.Data.DataTable

@{
    ViewData["Title"] = "List of Pens";
}
<script>
    function CreateNew(){
        $('#tb_pens').hide();
        $('#AddOrEdit').show();
        $.get('Pen/AddOrEdit').done(function (response) {
            document.getElementById("AddOrEdit").innerHTML = response;
        }).fail(function () {
            document.getElementById("AddOrEdit").innerHTML =
            "Something wrong! Try again later!!!" + window.location.href;
        });
       
    }

    function Edit(id) {
        $('#tb_pens').hide();
        $('#AddOrEdit').show();
        $.get('Pen/AddOrEdit/'+ id).done(function (response) {
            document.getElementById("AddOrEdit").innerHTML = response;
        }).fail(function () {
            document.getElementById("AddOrEdit").innerHTML =
                "Something wrong! Try again later!!!" + window.location.href;
        });

    }

    function Delete(id) {
        $('#tb_pens').hide();
        $('#AddOrEdit').show();
        $.get('Pen/Delete/'+ id).done(function (response) {
            document.getElementById("AddOrEdit").innerHTML = response;
        }).fail(function () {
            document.getElementById("AddOrEdit").innerHTML =
                "Something wrong! Try again later!!!" + window.location.href;
        });

    }

    function ReturnIndex() {
        $('#AddOrEdit').hide();
        $('#tb_pens').show();
    }

    function LoadData() {
        $('#loader').show();

        $.get('Pen/LoadData/').done(function (response) {
            document.getElementById("loader").innerHTML = response;
        }).fail(function () {
            document.getElementById("loader").innerHTML =
                "Something wrong! Try again later!!!" + window.location.href;
        });
    }

    function SubmitAdd() {
        $('#AddOrEdit').hide();
        $('#tb_pens').show();

        let formElm = $('#form-data');
        let formDataElm = document.getElementById('form-data');
        let formData = new FormData(formDataElm)

        $.post('Pen/AddOrEdit/',
            { PenID: $('#PenID').val(), Title: $('#Title').val(), Type: $('#Type').val(), Price: $('#Price').val() },
        ).done(function (response) {
            window.history.pushState("", "", '/');
            LoadData();
        }).fail(function () {
            window.history.pushState("", "", '/');
            LoadData();
        });
    }

    function DeleteConfirmed() {
        $('#AddOrEdit').hide();
        $('#tb_pens').show();

        $.post('Pen/Delete',
            { PenID: $('#PenID').val() },
        ).done(function (response) {
            window.history.pushState("", "", '/');
            LoadData();
        }).fail(function () {
            window.history.pushState("", "", '/');
            LoadData();
        });
    }

    setTimeout(function(){
        LoadData();
    }, 250)
</script>

<div id="loader">
    
</div>
